{% extends 'baseLogged.html' %}

{% block title %}Budget panel{% endblock %}

{% block body %}

    {% if user.errors is not empty %}
    <p>Errors: </p>
    <ul>
        {% for error in user.errors %}
            <li>{{error}}</li>
        {% endfor %}
    </ul>
    {% endif %}	

	<div class="buttons col-lg-8 bg-secondary border border-secondary rounded-right">
		<button type="button" class="btn btn-outline-light bg-light col-sm-8 col-lg-4 m-4">
			<a href="/transaction/addincome"><div class="icon">A</div>add income</a>
		</button>
		<button type="button" class="btn btn-outline-secondary bg-light col-sm-8 col-lg-4 m-4">
			<a href="/transaction/addexpense"><div class="icon">Y</div>add expense</a>
		</button>
		<button type="button" class="btn btn-outline-secondary bg-light col-sm-8 col-lg-4 m-4">
			<a href="/balancesheet/panel"><div class="icon">k</div>display balance sheet</a>
		</button>
		<button type="button" class="btn btn-outline-secondary bg-light col-sm-8 col-lg-4 m-4">
			<a href="/categories/panel"><div class="icon">u</div>categories manager</a>
		</button>	
	</div>
	
{% endblock %}