{% extends 'baseLogged.html' %}

{% block title %}Profile{% endblock %}

{% block footer %}
	<script src="/js/hideShowPassword.min.js"></script>
	<script src="/js/app.js"></script>
	<script>
		
		$(document).ready(function(){
			
			var userId = '{{ user.id }}';
			
			/**
			 * Validate the form
			 */
			$('#formProfile').validate({
				rules: {
					name: 'required',
					email: {
						required: true,
						email: true,
						remote: {
							url: '/account/validate-email',
							data: {
								ignore_id: function() {
									return userId;
								}
							}
						}
					},
					password: {
                        minlength: 6,
                        validPassword: true
                    }
				},
				messages: {
					email: {
						remote: 'email already taken'
					}
				}
			});
			
			/**
			 * Show password toggle button
			 */
			$('#inputPassword').hideShowPassword({
				show: false,
				innerToggle: 'focus'
			});
		});
	</script>
	
{% endblock %}

{% block body %}
<div class="col-lg-8 bg-secondary border border-secondary rounded-right my-3 pb-1">
    <h1>Profile</h1>
	
	{% if user.errors is not empty %}
		<p>Errors: </p>
		<ul>
			{% for error in user.errors %}
				<li>{{error}}</li>
			{% endfor %}
		</ul>
	{% endif %}
	
	<form method="post" id="formProfile" action="/profile/update">
		<div class="form-group col-6 offset-3">
			<label for="inputName">Name</label>
			<input type="text" id="inputName" name="name" placeholder="name" value="{{ user.name }}" required class="form-control" />		
		</div>
		<br>
		<div class="form-group col-6 offset-3">
			<label for="inputEmail">Email</label>
			<input type="email" id="inputEmail" name="email" placeholder="email adress" value="{{ user.email }}" required class="form-control" />		
		</div>
		<br>
		<div class="form-group col-6 offset-3">
			<label for="inputPassword">Password</label>
			<input type="password" id="inputPassword" name="password" placeholder="password" aria-descirbedby="helpBlock" class="form-control" />
			<span id="helpBlock" class="help-block">Leave blank to keep current password</span>
		</div>
		
		<br>
		<br>
		<button type="submit" class="btn btn-light btn-outline-dark col-8">Save</button>
		<button type="cancel" class="btn btn-secondary btn-oultline-dark"><a href="/profile/show">Cancel</a></button>
	</form>
</div>
{% endblock %}
